---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/Container.astro';
import NewsletterSignup from '../components/NewsletterSignup.astro';
import PhotoGallery from '../components/PhotoGallery.astro';
import RecentArticles from '../components/RecentArticles.astro';
import SocialMediaIcons from '../components/SocialMediaIcons.astro';
import WorkHistory from '../components/WorkHistory.astro';
import { siteConfig } from '../config/site.ts';
---

<BaseLayout>
  <Container class="mt-9">
    <div class="max-w-2xl">
      <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">
        Software engineer, dad, and wannabe pizzaiolo. 🍕
      </h1>
      <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
        Hey there! I'm Dan Lourenço, a software engineer passionate about building meaningful
        digital experiences for the web. 
        
        I write about technology, share insights from
        my development journey, and explore the intersection of code and
        creativity.
      </p>
      <SocialMediaIcons />
    </div>
  </Container>

  <PhotoGallery />

  <!-- Recent Articles Section -->
  <Container class="mt-24 md:mt-28">
    <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
      <RecentArticles />
      
      <div class="space-y-10 lg:pl-16 xl:pl-24">
        <!-- Work history -->
        <WorkHistory />

        <!-- Newsletter signup -->
        <!-- <NewsletterSignup /> -->
      </div>
    </div>
  </Container>
</BaseLayout>